<!DOCTYPE html>
<html lang="en">
<head>
      <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
    <meta charset="UTF-8">
    <title>所有作业</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td>作业id</td>
            <td>作业名称</td>
            <td>开始时间</td>
            <td>结束时间</td>
            <td>应交人数</td>
            <td>已交人数</td>
            <td>未交人数</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{ i.job_id }}</td>
            <td>{{ i.job_title }}</td>
            <td>{{i.start_time }}</td>
            <td>{{ i.end_time }}</td>
            <td>{{ i.total_num }}</td>
            <td>{{ i.submit_num }}</td>
            <td>{{ i.other_num}} <form action="/showreset" method="get"><input type="hidden" name="job_id"  value="{{ i.job_id }}"><input type="submit"  value="查看" ></form> </td>
        </tr>
        {% endfor %}


    </table>
</body>
</html>