<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有作业</title>
</head>
<body>
    <table width="100%">
        <tr>
            <td>
                作业id
            </td>
            <td>
                作业名称
            </td>
            <td>
                开始时间
            </td>
            <td>
                结束时间
            </td>
            <td>
                已交人数
            </td>
            <td>
                未交人数
            </td>
        </tr>
    </table>
</body>
</html>